#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: #ff5500;  Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #toTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /* Curtain Menu Code */

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  /* Subscribe Modal styles  */

  body {
    font-family: 'Varela Round', sans-serif;
  }	
  .modal-newsletter {	
    color: #999;
    font-size: 15px;
      min-width: 600px;
  }
  .modal-newsletter .modal-content {
    padding: 40px;
    border-radius: 0;		
    border: none;
  }
  .modal-newsletter .modal-header {
    border-bottom: none;   
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  .modal-newsletter h4 {
    color: #000;
    text-align: center;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .modal-newsletter .close {
    background: #c0c3c8;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      text-shadow: none;
      opacity: 0.5;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      font-size: 19px;
      text-align: center;
      padding: 0;
  }
  .modal-newsletter .close span {
    position: relative;
    top: -1px;
  }
  .modal-newsletter .close:hover {
    opacity: 0.8;
  }
  .modal-newsletter .icon-box {
    color: #7265ea;		
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
  }
  .modal-newsletter .icon-box i {
    font-size: 110px;
  }
  .modal-newsletter .form-control, .modal-newsletter .btn {
    min-height: 46px;
    border-radius: 3px; 
  }
  .modal-newsletter .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
  }
  .modal-newsletter .form-control:focus {
    border-color: #7265ea;
    box-shadow: 0 0 8px rgba(114, 101, 234, 0.5);
  }
  .modal-newsletter .btn {
    color: #fff;
    border-radius: 4px;
    background: #7265ea;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
  }
  .modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
    background: #4e3de4;
    outline: none;
  }
  .modal-newsletter .input-group {
    margin: 30px 0 15px;
  }
  .hint-text {
    margin: 100px auto;
    text-align: center;
  }

  .neo-convex{
    border-radius: 50px;
background: #171717;
/*box-shadow:  20px 20px 44px #131313,*/
/*             -20px -20px 44px #1b1b1b;*/
  }

  .neo-pressed{
    border-radius: 50px;
    background: #171717;
    /*box-shadow: inset 20px 20px 44px #131313,*/
    /*            inset -20px -20px 44px #1b1b1b;*/
  }

  .neo-square-convex{
    border-radius: 0px;
background: #171717;
/*box-shadow:  35px 35px 25px #131313,*/
/*             -35px -35px 25px #1b1b1b;*/
  }

  .neo-square-pressed{
    border-radius: 0px;
background: #020024;
/*box-shadow: inset -29px -29px 57px #010015,*/
/*            inset 29px 29px 57px #030033;*/
  }
  .neo-circle-pressed{
    border-radius: 50%;
background: #171717;
/*box-shadow: inset 35px 35px 25px #131313,*/
/*            inset -35px -35px 25px #1b1b1b;*/
  }

  .neo-circle-convex{
    border-radius: 50%;
background: #171717;
/*box-shadow:  20px 20px 44px #131313,*/
/*             -20px -20px 44px #1b1b1b;*/
             
  }

  .glass{
    background: rgba( 254, 251, 251, 0.10 );
box-shadow: 0 8px 32px 0 rgba(46, 46, 49, 0.37);
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .tilt-banner{
    
-moz-transform: skew(7deg, -11deg);
-webkit-transform: skew(7deg, -11deg);
-o-transform: skew(7deg, -11deg);
-ms-transform: skew(7deg, -11deg);
transform: skew(7deg, -11deg);

  }

  .blur-sm {
    backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px) ;
  }

.blur-md {
    backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
  }

  .blur-lg {
    backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
  }

.gray-scale{
  
  filter:sepia()
  }